body {
  background-color: #e5e5e5;
}

.card {
	padding-top: 20px;
	margin: 10px 0 20px 0;
	background-color: #ffffff;
	border: 1px solid #d8d8d8;
	border-top-width: 0;
	border-bottom-width: 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.card .card-heading {
	font-size: 20px;
	font-weight: 300;
	color: #777;
	border-bottom: 1px solid #e5e5e5;	
}

.card .card-heading .card-action {
	float: right;
	margin-right: 5px;
}

.card .card-heading .card-action:hover {
	color: #000;
}

.card .card-body {
	padding: 15px 20px;
	margin-top: 6px;
}

.card .card-btns {
	padding: 20px;
	margin: 0;
	background-color: #f8f8f8;
}

.toast {
	position: fixed;
	top: 60px;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	border: 1px solid #666;
	background-color: rgb(247, 210, 11);
	padding: 10px 0;
	text-align: center;
	opacity: .9;
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-ms-transition: opacity 0.5s ease-out;
	-o-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
	border-radius: 9px;
}

main {
  padding: 64px 15px;
  text-align: center;
}

.badge {
    background-color: #ce3232;
}

#computer_list {
    margin-top: 10px;
}

#computer_list .panel-body .row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dropdown-menu {
    text-align: left;
}