/*----------------------------------------
Reset everything
----------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img,abbr,acronym,a { 
	border: 0;
	outline: none;
}

address,caption,cite,dfn,th,var {
	font-style: normal;
	font-weight: normal;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
	padding: 0;
	margin: 0;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

/***Normal styls***/
strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

p {
	font-size: 0.9em;
	line-height: 1.4em;
	margin: 8px 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bolder;
}

h1 {
	font-size: 32px;
	padding-bottom: 5px;
}

h2 {
	font-size: 24px;
	padding-bottom: 5px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 13px;
}

h6 {
	font-size: 11px;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

ol {
	list-style-type: decimal;
}

ol ol {
	list-style-type: lower-alpha;
}

ol ol ol {
	list-style-type: lower-roman;
}