<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Libpac Staff Interface</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
        
        <meta name="mobile-web-app-capable" content="yes">
        
        <link rel="stylesheet" href='/css/reset.css' />
        <link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap.css' />
        <link rel='stylesheet' href='/css/app.css' />
    </head>
    <body>
        <header>
			<div class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Libpac Staff Interface</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li ng-repeat="nav in navigation"><a href="{{nav.url}}">{{nav.text}}</a></li>
						</ul>
						
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Notifications <span class="badge">{{notifications.length}}</span></a></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		
		
		<div class="container">
			<div class="alert" ng-repeat="notify in notifications" ng-class="{prompt: 'alert-warning', error: 'alert-danger', update: 'alert-info'}[notify.type]">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<i class="glyphicon glyphicon-exclamation-sign"></i>
				{{notify.message}}
				<div ng-switch on="notify.action">
					<button type="button" class="btn btn-primary" ng-switch-when="addTime">
						<i class="glyphicon glyphicon-dashboard"></i> Extend (15min)
					</button>
					<button type="button" class="btn btn-primary" ng-switch-when="update">Update Now</button>
					<button type="button" class="btn btn-primary" ng-switch-when="restartServices"><i class="glyphicon glyphicon-refresh"></i> Restart Services</button>
				</div>
				
			</div>
		</div>

		<main ng-view></main>
        
        <script src="/libs/script.min.js"></script>
        
        <script src="/libs/angular/angular.js"></script>
		<script src="/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="/libs/angular-animate/angular-animate.js"></script>
		<script src="/libs/angular-route/angular-route.js"></script>
		<script src="/libs/jquery/dist/jquery.js"></script>
		<script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
		
        <script src="/scripts/app.js"></script>
		
		<!-- Services -->
		<script src="/scripts/services/notifications.js"></script>
		<script src="/scripts/services/computer.js"></script>
		<script src="/scripts/services/api.js"></script>
		
		<!-- Controllers -->
		<script src="/scripts/controllers/main.js"></script>
		<script src="/scripts/controllers/computer.js"></script>
		<script src="/scripts/controllers/staff.js"></script>
		<script src="/scripts/controllers/users.js"></script>
		<script src="/scripts/controllers/notifications.js"></script>
		<script src="/scripts/controllers/modals.js"></script>
		
    </body>
</html>
