<div class="container" ng-controller="StaffCtrl">
	<div class="btn-group">
		<button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-plus-sign"></i> Add Guest</button>
		
		<button type="button" class="btn btn-success" ng-show="computerView" ng-click="showUsers()"><i class="glyphicon glyphicon-list"></i> View Users</button>
		<button type="button" class="btn btn-success" ng-show="userView" ng-click="showComputers()"><i class="glyphicon glyphicon-list"></i> View Computers</button>
	</div>
	
	<h1>Notifications</h1>
	
	<div ng-controller="NotificationCtrl" class="row">
		<div class="card col-md-4" ng-repeat="notification in notifications">
			<div class="card-front" ng-hide="cardFlipped">
				<div class="card-heading">{{notification.title}} <i class="glyphicon glyphicon-exclamation-sign card-action" ng-click="flipCard()"></i></div>
				<div class="card-body">{{notification.message}}</div>
				<div class="card-btns">
					<div class="btn-group">
						<button type="button" class="btn btn-primary" ng-click="accept()">
							<i class="glyphicon" ng-class="notification.actionIcon"></i> {{notification.actionText}}
						</button>
						<button type="button" class="btn btn-danger" ng-click="reject($index, notification)"><i class="glyphicon glyphicon-ban-circle"></i> Reject</button>
					</div>
				</div>
			</div>
			
			<div class="card-back" ng-show="cardFlipped">
				<div class="card-heading">Time Request <i class="glyphicon glyphicon-exclamation-sign card-action" ng-click="flipCard()"></i></div>
				<div class="card-body">Card Back</div>
				<div class="card-btns">
					<div class="btn-group">
						<button type="button" class="btn btn-primary">
							<i class="glyphicon glyphicon-dashboard"></i> Extend (15min)
						</button>
						<button type="button" class="btn btn-danger" ng-click="showUsers()"><i class="glyphicon glyphicon-ban-circle"></i> Reject</button>
					</div>
				</div>
			</div>
				
		</div>
	</div>
	
	<h1>Computers</h1>
	
	<div ng-controller="ComputerCtrl" ng-show="computerView">
		<div class="card col-md-4" ng-repeat="computer in computers">
			<div class="card-front" ng-hide="cardFlipped">
				<div class="card-heading">{{computer.name}} <i class="glyphicon glyphicon-cog card-action" ng-click="flipCard()"></i></div>
				<div class="card-body">
					<img ng-src="images/{{computer.status}}.svg" width="75"/>
					<h4>{{computer.status}}</h4>
				</div>
				<div class="card-btns">
					<div class="btn-group">
						<button type="button" class="btn btn-primary" ng-click="addTime(computer)"><i class="glyphicon glyphicon-dashboard"></i> Add Time</button>
						
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#" ng-click="logout(computer)"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
							<li><a href="#" ng-click="subTime(computer)"><i class="glyphicon glyphicon-minus-sign"></i> Subtract Time</a></li>
							<li><a href="#" ng-click="logIncident(computer)"><i class="glyphicon glyphicon-file"></i> Log Incident</a></li>
							<li><a href="#" ng-click="sendMessage(computer)"><i class="glyphicon glyphicon-comment"></i> Send Message</a></li>
							<li class="divider"></li>
							<li><a href="#" ng-click="restartServices(computer)"><i class="glyphicon glyphicon-refresh"></i> Restart Services</a></li>
							<li><a href="#" ng-click="shutdown(computer)"><i class="glyphicon glyphicon-off"></i> Shutdown</a></li>
							<li><a href="#" ng-click="restart(computer)"><i class="glyphicon glyphicon-repeat"></i> Restart</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="card-back" ng-show="cardFlipped">
				<div class="card-heading">Time Request <i class="glyphicon glyphicon-exclamation-sign card-action" ng-click="flipCard()"></i></div>
				<div class="card-body">Card Back</div>
				<div class="card-btns">
					<div class="btn-group">
						<button type="button" class="btn btn-primary">
							<i class="glyphicon glyphicon-dashboard"></i> Extend (15min)
						</button>
						<button type="button" class="btn btn-danger" ng-click="showUsers()"><i class="glyphicon glyphicon-ban-circle"></i> Reject</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div ng-controller="UserCtrl" ng-show="userView">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Users</h3>
				<!--<div class="btn-group pull-right">
					<button type="button" class="btn btn-primary" ng-click="reserve()"><i class="glyphicon glyphicon-plus-sign"></i> Reserve</button>
					<button type="button" class="btn btn-success" ng-click="announcement()"><i class="glyphicon glyphicon-bullhorn"></i> Announcement</button>
					<button type="button" class="btn btn-danger" ng-click="shutdown()"><i class="glyphicon glyphicon-off"></i> Shutdown</button>
				</div>-->
				
				<div class="clearfix"></div>
				
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>Notice</th>
							<th>Status</th>
							<th>Name</th>
							<th>Last Computer</th>
							<th>Time Remaining</th>
							<th>Action</th>
						</tr>
						<tr ng-repeat="user in users">
							<td ng-switch on="user.notice.type">
								<i class="glyphicon glyphicon-exclamation-sign text-warning pull-left" ng-switch-when="warning"></i>
							</td>
							<td ng-switch on="user.status">
								<div ng-switch-when="online"  class="text-success"> Online</div>
								<div ng-switch-when="offline" class="text-warning"> Offline</div>
							</td>
							<td>{{user.name.first}} {{user.name.last}}</td>
							<td>{{user.lastComputer}}</td>
							<td>{{user.timeRemaining}}</td>
							<td>
								<div class="btn-group pull-right">
									<button type="button" class="btn btn-primary" ng-click="addTime(computer)"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
									<button type="button" class="btn btn-danger" ng-click="addTime(computer)"><i class="glyphicon glyphicon-ban-circle"></i></button>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>	
</div>

<div class="container">
	
	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Panel title</h3>
		  </div>
		  <div class="panel-body">
			Panel content
		  </div>
		</div>
	</div>
	
	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Panel title</h3>
		  </div>
		  <div class="panel-body">
			Panel content
		  </div>
		</div>
	</div>
	
</div>

<div class="toast" ng-show="showToast">{{toastMessage}}</div>