<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title">I'm a modal!</h4>
	</div>
	<div class="modal-body">
		<div class=" col-xs-6 col-md-4">
			<div class="setup-nav">
				<ul class="nav nav-pills nav-stacked">
					<li ng-click="setStep($index)" ng-class="{active: step.active}" ng-repeat="step in steps"><a>{{step.name}}</a></li>
				</ul>
			</div>
			<div class="wizard-progress-container">
				<div class="progress progress-striped">
					<div class="progress-bar" ng-style="getPercentComplete()"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-8">
			<form class="form-horizontal ">
				<div class="form-group" ng-repeat="field in activeStep.fields">
					<label class="control-label" for="{{field.name}}">{{field.label}}</label>
					<input type="text" class="form-control" name="{{field.name}}" ng-model="field.value" placeholder="{{field.placeholder}}" />
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-secondary" ng-click="previousStep()">Back</button>
		<button class="btn btn-primary" ng-click="nextStep()" ng-if="stepIndex !== maxSteps">Next</button>
		<button class="btn btn-primary" ng-click="finish()" ng-if="stepIndex === maxSteps">Finish!</button>
	</div>
</div>